APP_NAME=Kepegawaian
APP_CLIENT=FWD-JMC
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=kepegawaian_db
JWT_SECRET=ubah_ini_dengan_string_acak_yang_kuat
JWT_EXPIRES_IN=8h
NUXT_PUBLIC_RECAPTCHA_SITE_KEY=your_recaptcha_site_key
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key
